<app-navbar></app-navbar>


<section class="welcome-section">
  <h1>Welcome to GID</h1>
  <p>
    Welcome to GID - Get It Done! Your ultimate destination for finding the best service providers to meet all your needs. Whether you're looking for home services, professional assistance, or any other service, we've got you covered. We take pride in connecting consumers like you with reputable and registered service providers, ensuring you get top-notch services and solutions.
  </p>
</section>

<section class="how-it-works-section consumers">
  <h2>How It Works (for Consumers)</h2>
  <p>
    Curious about how GID works? It's simple! Here's a step-by-step guide to using our platform:
  </p>
  <ul class="bullet-list">
    <li>Registration: Sign up with GID to access our extensive list of services. You'll create a profile, enabling you to manage your service requests efficiently.</li>
    <li>Browse Services: Explore our wide range of services, from home repairs and maintenance to tutoring and personal training. We've got an extensive selection to cater to all your needs.</li>
    <li>Search by Location: Search and filter to find service providers based on your location.</li>
  </ul>
</section>

<section class="how-it-works-section providers">
  <h2>How It Works (for Providers)</h2>
  <p>
    Are you a service provider interested in joining GID? Here's how our platform works for providers:
  </p>
  <ul class="bullet-list">
    <li>Registration: Sign up as a service provider and create your profile to showcase your expertise and services.</li>
    <li>Offer Services: List your services and provide detailed descriptions to attract potential consumers.</li>
  </ul>
</section>

<section class="contact-section">
  <h2>Contact Info</h2>
  <p>Email: info@gid.com</p>
  <p>Phone: +1 123-456-7890</p>
</section>
