<mat-toolbar color="primary">
  <a routerLink='' class="logo-button">
    <span class="logo">GID</span>
  </a>
  <button mat-raised-button class="btn-logout" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="form-container">
  <h2>Post Service</h2>

  <form (ngSubmit)="postService()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="service.title" required>
    </div>
    <div class="form-group">
      <label for="zipCode">Zipcode</label>
      <input type="number" id="zipCode" name="zipCode" [(ngModel)]="service.zipCode" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" id="price" name="price" [(ngModel)]="service.price" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" [(ngModel)]="service.description" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn-post-service">Post Service</button>
    <button class="btn-view-history" (click)="viewCustomerHistory()">View Customer History</button>
  </form>
</div>
