.logo-button {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px; /* Add a bit of spacing to separate the logo from other elements */
  position: relative; /* To create a stacking context for the ::before pseudo-element */
}

/* Make the "GID" logo stand out more */
.logo-button:before {
  content: "GID";
  background: linear-gradient(to right, #2c3e50, #1abc9c, #3498db, #9b59b6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Add a subtle shadow to the logo */
.logo-button:before {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

mat-toolbar {
  background: linear-gradient(to right, #2c3e50, #1abc9c, #3498db, #9b59b6);
  color: white;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}
.dropdown {
  margin-right: 20px;
}

.dropbtn {
  background-color: #3498db;
  color: white;
}

.dropbtn:hover {
  background-color: #2980b9;
}
.navbar-buttons {
  display: flex;
  align-items: center; /* Align the buttons vertically within the div */
}
/* Basic styling for the consumer register form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the register heading */
h2 {
  padding: 15px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styling for the form labels */
mat-form-field {
  width: 100%;
}

/* Styling for the form inputs */
input {
  width: 100%;
  padding: 10px;
  padding-right: 0px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Styling for the register button */
button[type="submit"] {
  background-color: #9055ff;
  color: white;
  padding: 20px 20px; /* Increase padding for a slightly larger button */
  font-size: 18px; /* Increase font size for a more prominent button text */
  border: none;
  border-radius: 5px; /* Increase border-radius for rounded corners */
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to the button */
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styling for the form error messages (optional) */
.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -10px;
}

/* Styling for success messages (optional) */
.form-success {
  color: #27ae60;
  font-size: 14px;
  margin-top: -10px;
}
