<mat-toolbar color="primary">
  <a routerLink='' class="logo-button">
    <span class="logo">GID</span>
  </a>
  <div class="navbar-buttons">
    <div class="dropdown">
      <button mat-raised-button class="dropbtn" [matMenuTriggerFor]="registerMenu">Register</button>
      <mat-menu #registerMenu="matMenu">
        <button mat-menu-item routerLink="/register/consumer">Consumer</button>
        <button mat-menu-item routerLink="/register/provider">Service Provider</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<div class="form-container">
  <h2>Login as Consumer</h2>

  <form (ngSubmit)="loginConsumer()">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="consumer.email" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="consumer.password" required>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Login</button>
  </form>
</div>
