/* Basic styling for the login form container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the login heading */
h2 {
  padding: 15px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styling for the form labels */
mat-form-field {
  width: 100%;
}

/* Styling for the form inputs */
input {
  width: 100%;
  padding: 10px;
  padding-right: 0px;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Styling for the login button */
button[type="submit"] {
  background-color: #9055ff;
  color: white;
  padding: 20px 20px; /* Increase padding for a slightly larger button */
  font-size: 18px; /* Increase font size for a more prominent button text */
  border: none;
  border-radius: 5px; /* Increase border-radius for rounded corners */
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to the button */
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styling for the form error messages (optional) */
.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -10px;
}

/* Styling for success messages (optional) */
.form-success {
  color: #27ae60;
  font-size: 14px;
  margin-top: -10px;
}
